.Container {
  position: relative;
  z-index: 1;
  padding: 50px 40px;
  justify-content: center;
  text-align: center;

}


.serviceTitle{
  font-size: 40px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 10px;
}

.serviceCard {
  height: 500px;
}

.serviceCard:hover .serviceImg {
  transform: scale(1.05);
}

.serviceCard:hover .hoverSvg {
  opacity: 1;
  transform: translateY(0);
}

.serviceImg {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 25px;
  transition: transform 0.4s ease;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* 🩵 هذا أهم سطر */
  gap: 24px;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 320px; /* يخلي الكارد يتقلص أو يتمدد حسب العرض */
  min-width: 300px;
  max-width: 380px;
  height: auto; /* لا تثبت الطول */
  overflow: hidden;
  word-wrap: break-word;
}
