/* === التصميم الأساسي (لابتوب وما فوق) === */
.HomeBody {
    display: flex;
    width: 100%;
    min-height: 790px;
    padding: 0 32px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    direction: rtl;
}

/* الصورة والخلفية */
.homeLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 560px;
    height: 100%;
    min-height: 790px;
    z-index: 0;
}

.leftImg svg {
    width: 100%;
    height: 100%;
}

.childImg {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 100%;
    height: auto;
    max-width: 450px;
    z-index: 1;
}

/* النصوص */
.HomeRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    margin-left: 500px;
    padding: 10% 5% 0 20px;
    gap: 20px;
}

.HeaderRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    position: relative;
}

.topHeader {
    direction: rtl;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #F9B236;
}

.bottomHeader {
    font-size: 50px;
    font-weight: 700;
    text-align: right;
}

.HeaderLine {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 263px;
    height: 15px;
}

/* النصوص تحت */
.HomeCenter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.topCenter {
    font-size: 16px;
    text-align: right;
    max-width: 700px;
}

.HomeButtons {
    display: flex;
    gap: 26px;
    justify-content: flex-end;
}

.mainButton,
.moreButton {
  border-radius: 99px;
  padding: 5px 20px;
  height: 44px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Cairo", sans-serif;
}

.mainButton {
    background:  #F9B236;
    color: white;
    border: 1px solid #F9B236;
}

.moreButton {
    border: 1px solid #F9B236;
    color:  #F9B236;
    background-color: #FFFF;
}

.bottomRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.bottomImgItems {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.BottomImg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -12px;
    box-sizing: border-box;
}

.BottomImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottomText {
    font-size: 16px;
    text-align: right;
}

.BottomImg:first-child {
    margin-left: 0;
}


@media (max-width: 768px) ,(max-width: 1024px){
  .HomeBody {
    
    flex-direction: column; /* يخلي العناصر تحت بعض */
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    min-height: auto;
    padding-bottom: 5%;
  }

  .homeLeft {
    position: relative; /* مو absolute */
    left: 0;
    width: 100%;
    max-width: 700px;
    height: auto;
    min-height: 600px; /* عشان تبقى الخلفية ظاهرة */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftImg svg {
    width: 100%;
    height: auto;
  }

  .childImg {
    position: absolute;
    top: 10%;
    width: 70%;
    max-width: 400px;
    height: auto;
    left: 10%;
    transform: translateX(-50%); /* تتوسط الشاشة */
  }

  .HomeCenter, .HomeRight {
    margin: 0;
    padding: 0 20px;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .HeaderRight {
    align-items: center;

  }

  .topHeader {
    color: #F9B236;
  }
  .topHeader,
  .bottomHeader,
  .topCenter,
  .bottomText {
    text-align: center;
    direction: rtl;
  }

  .HeaderRight{
    width: 100%;
  }
  .HomeButtons {
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .bottomRight {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .bottomImgItems {
    justify-content: center;
  }


  
}

@media (max-width: 768px){
    .bottomText {
    font-size: 10px;
    }

    .BottomImg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1024px){
    .bottomText {
    font-size: 20px;
    }

    .BottomImg {
    width: 50px;
    height: 50px;
  }
}